body{
	background: black;
}
.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	width: 450px;                                               
}
titulo{
           
           font-family: 'Baby Mayora Sans', sans-serif;                                                                 
           font-size: 40px;
           align-content: center;                                     
}
table{
	margin-left: 300px;
	font-family: Noto sans;
}
th{
	color: white;
}